:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body {
  margin: 0;
}

#app {
  padding: 3rem 0;
}

.container {
  max-width: 1623px;
  margin: 0 auto;
  width: 100%;
  color: #1e1e1e;
}

.cf-app input {
  font-size: 16px;
}

.cf-app a {
  text-decoration: none;
}

.cf-app input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.cf-app input::-ms-input-placeholder {
  color: #bfbfbf;
}

.cf-app input::-moz-placeholder {
  color: #bfbfbf;
}

.cf-app input::placeholder {
  color: #bfbfbf;
}

.cf-app .btn-download {
  display: inline-flex;
  align-items: center;
  border: 1.5px solid #bfbfbf;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-radius: 8px;
  color: #212529;
  padding: 12px 18px;
  column-gap: 10px;
  transition-duration: 0.3s;
}

.cf-app .btn-download svg {
  color: #bfbfbf;
}

.cf-app .btn-download:hover,
.cf-app .btn-download:hover svg {
  border-color: #2271b1;
  color: #2271b1;
}

.cf-title {
  display: flex;
  column-gap: 15px;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 30px;
}

.cf-title img {
  max-width: 48px;
}

.cf-table thead th {
  text-align: left;
}

.cf-table__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cf-table__top .dataTables_filter {
  float: none;
  text-align: left;
}

.cf-table__top .dataTables_filter label {
  position: relative;
  display: block;
  font-size: 0;
}
.cf-table__top .dataTables_filter label::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 15px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/icon-search.svg");
}
.cf-table__top .dataTables_filter input {
  height: 48px;
  width: 315px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0;
  outline: 0;
  background-color: #f8f9fa;
  padding: 15px 20px 15px 48px;
}

.cf-options {
  display: flex;
  column-gap: 25px;
  color: #bfbfbf;
}

.cf-options__list,
.cf-options__grid {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cf-options__list.active,
.cf-options__grid.active {
  color: #2271b1;
}

.cf-table-grid {
  display: block;
}

table.cf-table {
  margin-bottom: 50px;
}

table.cf-table th.sorting {
  background-image: none !important;
}

table.cf-table th:first-child {
  width: 50%;
}

table.cf-table th:last-child {
  width: 10%;
}

table.cf-table th.sorting span {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
}

table.cf-table th.sorting span::after {
  content: "";
  background-image: url("./images/icon-sort.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 16px;
}

table.cf-table th.sorting_asc span::after {
  background-image: url("./images/icon-sort-up.svg");
}

table.cf-table th.sorting_desc span::after {
  background-image: url("./images/icon-sort-down.svg");
}

table.cf-table th span {
  font-weight: 600;
}

table.cf-table tr {
  position: relative;
}

table.cf-table th:first-child,
table.cf-table td:first-child {
  text-align: left;
}

table.cf-table th,
table.cf-table td {
  text-align: center;
}

table.cf-table tbody tr.prev-hover td,
table.cf-table tbody tr:hover td {
  border-color: transparent;
}

table.cf-table tbody tr:hover td {
  background-color: #f4f7ff;
}

table.cf-table tr:hover td:first-child {
  border-radius: 8px 0 0 8px;
}

table.cf-table tr:hover td:last-child {
  border-radius: 0 8px 8px 0;
}

table.cf-table tbody tr:first-child td {
  border-top: 2px solid #f8f9fa;
}

table.cf-table tbody td {
  border-bottom: 2px solid #f8f9fa;
}

table.cf-table .cf-updated {
  display: none;
}

table.cf-table-grid tbody tr:first-child td {
  border-top: 0;
}
table.cf-table thead th,
table.cf-table.no-footer,
table.cf-table-grid tbody td {
  border-bottom: 0;
}

table.cf-table-grid td:first-child {
  text-align: center;
}

table.cf-table-grid .cf-icon {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

table.cf-table-grid .cf-icon::before {
  width: 85px;
  height: 110px;
  margin-bottom: 10px;
}

table.cf-table-grid tbody td {
  padding: 0;
}

table.cf-table-grid td:nth-child(2),
table.cf-table-grid td:nth-child(4) {
  display: none;
}

table.cf-table-grid td:nth-child(3) {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

table.cf-table-grid td:last-child {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  border-top: 2px solid #f8f9fa;
  padding-top: 20px;
  margin-top: 45px;
  font-size: 18px;
  line-height: 1.4;
}

table.cf-table-grid tr:hover {
  background-color: #f4f7ff;
}

table.cf-table-grid tr:hover td:last-child {
  border-color: #ffffff;
}

table.cf-table-grid td:last-child small {
  color: #757575;
  display: block;
  letter-spacing: 0.03em;
}

table.cf-table-grid .cf-updated {
  display: block;
  text-align: left;
}

.cf-table-grid thead {
  display: none;
}

.cf-table-grid tbody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cf-table-grid tbody tr {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 2px solid #eef2f5;
  border-radius: 20px;
  padding: 40px 25px 25px;
}

.cf-table__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.cf-table__bottom .dataTables_info,
.cf-table__bottom .dataTables_paginate {
  padding-top: 0;
}

.cf-table__bottom .dataTables_paginate {
  display: flex;
}

.cf-table__bottom .dataTables_paginate span {
  display: none;
}

.cf-table__bottom .dataTables_paginate .paginate_button,
.cf-table__bottom .dataTables_paginate .paginate_button.disabled {
  min-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 35px;
  border: 1px solid #c4c4c4;
  margin: 0;
  padding: 0;
}

.cf-table__bottom .dataTables_paginate .paginate_button:hover {
  border-color: #2271b1;
  background: transparent;
  color: #2271b1 !important;
}

.cf-table__bottom .dataTables_paginate .paginate_button.disabled:hover {
  border-color: #c4c4c4;
  opacity: 0.4;
}

.cf-table__bottom .dataTables_paginate .paginate_button.previous {
  border-radius: 4px 0px 0px 4px;
}

.cf-table__bottom .dataTables_paginate .paginate_button.next {
  border-radius: 0px 4px 4px 0px;
}

.cf-table .cf-icon:hover {
  color: #106fff;
  text-decoration: underline;
  text-underline-position: under;
}

.cf-icon {
  display: inline-flex;
  align-items: center;
  column-gap: 18px;
  color: inherit;
}

.cf-icon:before {
  content: "";
  display: block;
  width: 37px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
}

.cf-app .icon-pdf:before {
  background-image: url("./images/PDF.svg");
}

.cf-app .icon-docx:before {
  background-image: url("./images/Doc.svg");
}

.cf-app .icon-xlsx:before {
  background-image: url("./images/XLS.svg");
}

.cf-app .icon-pptx:before {
  background-image: url("./images/PPT.svg");
}

.cf-app .icon-mp4:before {
  background-image: url("./images/Mp4.svg");
}

.cf-app .icon-other:before {
  background-image: url("./images/Other.svg");
}

.cf-app .icon-wav:before {
  background-image: url("./images/Wav.svg");
}

.cf-app .icon-jpg:before {
  background-image: url("./images/JPG.svg");
}

.cf-app .icon-zip:before {
  background-image: url("./images/Zip.svg");
}

.cf-app .icon-zip:before {
  background-image: url("./images/Zip.svg");
}
